// Fonts
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Custom
@import 'button';
@import 'avatar';
@import 'forms';
@import 'text';
@import 'icon';
@import 'accordion';
@import 'gutters';
@import 'navbar';
@import 'utilities';

html {
	font-size: 16px;
	height: 100vh;
	scroll-behavior: smooth;
}

body {
	font-family: $font-family-title;
	line-height: 1.5;
	font-weight: 400;
	text-transform: none;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*:focus {
	outline: none !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #545454;
	line-height: 24px;
}

a {
	color: inherit;
	text-decoration: none;
	transition: $transition-base;
	cursor: pointer;
	&:hover {
		color: $primary;
	}
	&.link {
		border-bottom: 1px solid currentColor;
	}
}

img {
	max-width: 100%;
}

svg, .svg {
	fill: currentColor;
}

input, select, textarea, span {
	&.error {
		border: 1px solid $danger;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	transition: background-color 5000s ease-in-out 0s;
}

.card {
	.card-body {
		color: #545454;
	}
}

ul, ol, dl {
	margin: 0;
	padding: 0 0 0 1.25rem;
}

section {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

header {
	.main-nav {
		z-index: 99999999;
		-webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
		transition: 300ms all cubic-bezier(.4,0,.2,1);
		.logo {
			height: 2rem;
			width: auto;
		}
		.navbar-nav {
			.nav-item {
				&.active, &:focus, &:hover {
					> .nav-link {
						color: $white;
					}
				}
				.nav-link {
					color: $white;
					margin-left: 6px;
					margin-right: 6px;
				}
			}
		}
	}
	&.transparent-header .main-nav {
		background: 0 0;
	}
}

footer {
	padding-top: 2.5rem;
    padding-bottom: 2.5rem;
	.footer-heading {
		font-size: 1rem;
		text-transform: uppercase;
		padding-bottom: .5rem !important;
		margin-bottom: 1rem !important;
	}
	.footer-nav {
		margin-bottom: 1rem;
		line-height: 22px;
		letter-spacing: 0.35px;
		.nav-item {
			margin-bottom: 1rem !important;
			a {
				color: $gray-800;
				text-decoration: none;
			}
		}
	}
}

@media (min-width: 1400px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1200px;
	}
}

.dot {
	font-family: "Font Awesome 5 Pro";
	font-size: 2px;
	font-weight: 900;
	color: $gray-600;
	margin: 0 .5rem;
	&:before {
		content: "\f111";
	}
}

.dropdown-menu {
	&.dropdown-select {
		.dropdown-item {
			&:before {
				content: "";
				font-family: "Font Awesome 5 Pro";
				color: $gray-600;
				width: 1rem;
				margin-right: .75rem;
				display: inline-block;
			}
			&.selected {
				&:before {
					content: "\f00c";
				}
			}
		}
	}
}

.bg-beige {
	background-color: $beige;
}

.bg-orange {
	background-color: $orange !important;
}

.iti {
	width: 100%;
}

.fs-base {
	font-size: $font-size-base;
}

.fs-sm {
	font-size: $font-size-sm;
}

.cursor-pointer {
	cursor: pointer;
}

@for $i from 1 through 9 {
	.overlay-#{($i)} {
		&::before {
			content: "";
			position: absolute;
			background-color: rgba(0, 0, 0, ($i * .1));
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.bg-gradient-primary {
	background-color: #62c3d4;
}

.fit-contain {
	object-fit: contain;
}

.fit-cover {
	object-fit: cover;
}

.fancybox-caption {
	text-transform: capitalize;
}

// swiper: 
.swiper {
	width: 100%;
	height: auto;
}
.swiper-slide {
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-custom-button {
	width: 64px;
	height: 64px;
}

.slide-price {
	.swiper {
		width: 92%;
	}
	.swiper-wrapper {
		.swiper-slide-active .slide {
			box-shadow: 0 .5rem 1rem rgba(0, 144, 235, 0.25);
			padding: 0.5rem 0;
		}
		.swiper-slide {
			.card {
				width: 220px;
				.card-body {
					padding: 0.75rem 0.5rem;
				}
			}
		}
	}
	.swiper-control {
		div {
			width: 34px;
			height: 34px;
			cursor: pointer;
			text-align: center;
			transition: $transition-base;
			box-sizing: border-box;
		}
		i {
			transition: $transition-base;
		}
	}
	
	.swiper-control .swiper-custom-prev {
		left: 0;
	}
	.swiper-control .swiper-custom-next {
		right: 0;
	}
}

.slide-country {
	.swiper-slide-active .slide {
		box-shadow: 0 .5rem 1rem rgba($primary, .15);
		padding: 1rem;
	}
	.swiper-control {
		div {
			width: 80px;
			height: 80px;
			top: 45%;
			margin: -16px 15px 0;
			cursor: pointer;
			transition: var(--transition-base);
			text-align: center;
			z-index: 200;
			border: 3px solid white;
			box-sizing: border-box;
			&:hover {
				backdrop-filter: blur(5px);
				background: rgba(255, 255, 255, 0.3) !important;
			}
		}
		i {
			transition: $transition-base;
		}
	}	
	.swiper-control .swiper-custom-prev {
		left: 30px;
	}
	.swiper-control .swiper-custom-next {
		right: 30px;
	}
	.swiper-pagination {
		.swiper-pagination-bullet {
			width: 32px;
			height: 4px;
			border-radius: 0%;
			background: #A9A9A9;
			opacity: 1;
			&.swiper-pagination-bullet-active {
				background: #FFFFFF;
			}
		}
	}
}

.slide-blog {
	.swiper {
		width: 92%;
		.slide-testimonials, .slide-packages {
			border-color: #D3D3D3 !important;
		}
	}
	.swiper-control {
		div {
			width: 56px;
			height: 56px;
			cursor: pointer;
			text-align: center;
			transition: $transition-base;
			box-sizing: border-box;
		}
		i {
			transition: $transition-base;
		}
	}
	
	.swiper-control .swiper-custom-prev {
		left: -30px;
	}
	.swiper-control .swiper-custom-next {
		right: -30px;
	}
}



.stop {	
	.path {
		position: relative;
		width: 100%;
		height: 2px;
		margin: 6px 0 4px;
		background-color: $gray-400;
		&:before {
			position: absolute;
			content: '';
			top: -3px;
			left: 0px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 1px solid $gray-400;
			background-color: $white;
		}
		&:after {
			position: absolute;
			content: '';
			top: -3px;
			right: 0px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $primary;
		}
	}
	&.vertical {
		height: 70px;
		.path {
			position: relative;
			width: 2px;
			height: 100%;
			margin: 6px 0 4px;
			&:before {
				top: -5px;
				left: -4px;
			}
			&:after {
				top: 100%;
				left: -4px;
				transform: translateY(-100%);
			}
		}		  
	}
}

.content-detail {
	background-image: repeating-linear-gradient(0deg, #545454, #545454 10px, transparent 10px, transparent 20px, #545454 20px), repeating-linear-gradient(90deg, #545454, #545454 10px, transparent 10px, transparent 20px, #545454 20px), repeating-linear-gradient(180deg, #545454, #545454 10px, transparent 10px, transparent 20px, #545454 20px), repeating-linear-gradient(270deg, #545454, #545454 10px, transparent 10px, transparent 20px, #545454 20px);
	background-size: 0px 100%, 100% 1px, 0px 100% , 100% 0px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
	.nav-tabs {
		.nav-link {
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			color: #545454;
			&:hover {
				background-color: rgba(black, .075);
			}
			&.active, &:focus {
				border-top: 5px solid #000;
				border-right: 1px solid #000;
				border-left: 1px solid #000;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				font-size: 20px;
				color: #000;
			}
		}
	}
	.img-airline {
		width: 96px;
		height: 96px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.flight-time {
	width: 115px;
	height: 88px;
}

// Input
.input-search-flight {
	height: 40px;
}

.input-addon{
	position: relative;
}

.input-addon i{
	position: absolute;
	left: 15px; 
	top: -14px;
	transform: translateY(-100%);
	color: #495057;
}

.direction-item {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	width: 300px;
	border: 1.25px solid #7F7F7F !important;
	color: #272727;
	&.selected {
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		border: 2px solid #FFFCF7 !important;
		color: #FFFCF7;
	}
}

.input-custom{
	height: 48px;
}

.rotate-45 {
	transform: rotate(45deg);
}

.data-dropdown-location {
	width: 240px;
}

.form-check {
	display: flex;
	align-items: center;
}

// Title 
.page-sub-title {
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: -0.5px;
	color: #272727;
}

.sub-line-title {
	width: 100px; 
	height: 20px; 
	background-color: #FFA852
}

.title-section {
	font-size: 56px;
	font-weight: 700;
	line-height: 64px;
}

.sub-title-section {
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
}

// Button
.btn-submit-custom{
	border: none;
	height: 48px;
	width: 340px;
	color: #fff;
}
.btn-outline-primary:hover {
	color: #fff;
}
.btn-add-flight-small {
	width: 48px;
	height: 48px;
}
.bg-btn-search {
	background-color: $bg-btn-search !important;
}
.btn-search {
	height: 48px;
	font-size: 22px;
}
.button-control-collapse {
	width: 2.5rem;
	height: 2.5rem;
}
.passenger-select-seat {
	height: 3rem;
	width: 20rem;
	&.active {
		background-color: $primary;
		color: #fff;
	}
}

// Icon 
.color-icon-form{
	color: $bg-btn-search;
	margin: 0 10px;
}
.dot-icon {
	font-size: 0.7rem;
}
.min-width-custom{
	min-width: 300px;
}

//Step
.step-container {
	display: flex;
	align-items: center;

	.step-button {
		&.active {
			background-color: $primary;
			.step-number {
				color: white !important;
			}
		}
		margin-right: 5px;
	}
	
	.step-line {
		border-top: 1px solid #ccc;
		flex: 1;
		height: 0;
		margin: 0 5px;
	}
	.step-name {
		position: absolute;
		margin-top: 8rem;
	}
}

.top-destination {
	.image-small {
		width: 525px;
		height: 325px;
	}
}

.hover-brightness {
	transition: filter 0.8s ease-in-out;
	&:hover {
		cursor: pointer;
		filter: brightness(70%);
	}
}


//Post content 
.group-post-content {
	transition: background-color 0.3s ease-in-out;
	&:hover {
		cursor: pointer;
		background-color: #B1CAEB;
		.icon {
			background-color: white;
		}
	}
	.icon {
		width: 64px;
		height: 64px;
		background-color: $primary;
	}
}

// swiper: 
.show-food-swiper {
	margin-left: -1.2rem;
}

.line-clamp-5 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 5;
}

.line-clamp-1 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 1;
}

.confirm {
	.form-check-input:checked {
		background-color: $primary;
		border-color: $primary;
	}
}

.luggage-passenger {
	.form-check-input:checked {
		background-color: $primary;
	}
}

.pb-6 {
	padding-bottom: 6rem;
}
.top-70 {
	top: 70% !important;
}
.top-85 {
	top: 85% !important;
}
.start-60 {
	left: 60%;
}
#seat-upgrade-options, .travel-insurance, .luggage_insurance, .select-payment-method {
	.form-check-input:checked {
		background-color: blue; /* Change this to your desired color */
		border-color: blue; /* Change this to your desired color */
	}
}

.button-show-advantage {
	height: 3rem;
	width: 25rem;
}

.advantage-card {
	&.active {
		.advantage-title {
			background-color: $primary;
			h4 {
				color: white !important;
			}
		}
		.advantage-span {
			font-weight: 600;
		}
	}
	.button-show-advantage {
		&:hover {
			transform: scale(1.1);
			.advantage-span {
				font-weight: 600;
			}
		}
	}
}

.payment-method-label {
	&:hover {
		transform: scale(1.1);
	}
	&.active {
		transform: scale(1.1);
	}
}

.visa-breadcrumb {
	.breadcrumb-item {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
		a {
			border-radius: 1rem;
			padding: 0.32rem 1.15rem;
			line-height: 28px;
		}
		&.active, &:hover {
			a {
				background-color: $primary;
				color: $white;
				font-weight: 600;
			}
		}
	}
	.breadcrumb-item:not(:first-child) {
		padding-left: 1.35rem;
		&::before {
			content: '';
			background: url("../../public/assets/svg/outline/arrow-right.svg") no-repeat;
			width: 20px;
			height: 14px;
			margin-right: 1rem;
		}
	}
}

#frm-visa-search {
	label {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		color: #000;
	}
	input {
		border: none;
		&::placeholder {
			font-size: 14px;
			color: #A9A9A9;
			line-height: 20px;
			font-weight: 400;
		}
	}
	.dropdown {
		.dropdown-menu {
			border: 1px solid #7F7F7F;
			&::before {
				left: 27px;
				top: -7px;
				border-right: 7px solid transparent;
				border-left: 7px solid transparent;
				border-bottom: 7px solid #7F7F7F;
				position: absolute;
				display: inline-block;
				content: '';
			}
			&::after {
				left: 28px;
				top: -6px;
				border-right: 6px solid transparent;
				border-bottom: 6px solid #fff;
				border-left: 6px solid transparent;
				position: absolute;
				display: inline-block;
				content: '';
			}
			.list-nationality {
				font-size: 14px;
			}
		}
	}
}

.icon-color {
	color: #7F7F7F;
}

.tab-content {
	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		position: relative;
		background-image: linear-gradient(currentColor, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 1px;
		transition: background-size .5s;
	}
	
	a:hover, a:focus {
		background-size: 100% 1px;
	}
}

.step-part {
	.stepper-item {
		flex: 1;
		&::before, &::after {
			position: absolute;
			content: "";
			border-top: 1px solid #D3D3D3;
			width: 100%;
			top: 40px;
			z-index: 2;
		}
		&::before {
			left: -50%;
		}
		&::after {
			left: 50%;
		}
		.step-counter {
			z-index: 5;
			width: 80px;
			height: 80px;
			font-weight: 800;
			font-size: 28px;
			color: $orange;
			border: 1px solid $orange;
		}
		.step-name {
			font-weight: 500;
			color: #000;
			line-height: 36px;
			letter-spacing: -0.5px;
		}
		&.current {
			.step-name {
				font-weight: 700;
				color: #272727;
			}
			.step-counter {
				background-color: $orange;
				color: white;
			}
		}
		&.completed {
			.step-counter {
				background-color: #D3D3D3 !important;
				color: white !important;
				border: 1px solid #D3D3D3 !important;
			}
		}
		&:first-child::before, &:last-child::after {
			content: none;
		}
	}
}

.border-orange {
	border-color: $orange !important;
}

.border-dashed {
	background-image: repeating-linear-gradient(10deg, #E7ADAA, #E7ADAA 10px, transparent 10px, transparent 20px, #E7ADAA 20px), repeating-linear-gradient(100deg, #E7ADAA, #E7ADAA 10px, transparent 10px, transparent 20px, #E7ADAA 20px), repeating-linear-gradient(190deg, #E7ADAA, #E7ADAA 10px, transparent 10px, transparent 20px, #E7ADAA 20px), repeating-linear-gradient(280deg, #E7ADAA, #E7ADAA 10px, transparent 10px, transparent 20px, #E7ADAA 20px);
	background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

.border-line {
	border-right: 1px solid #D3D3D3;
}

.dashed-line {
	background-image: repeating-linear-gradient(0deg, #7F7F7F, #7F7F7F 10px, transparent 10px, transparent 20px, #7F7F7F 20px), repeating-linear-gradient(90deg, #7F7F7F, #7F7F7F 10px, transparent 10px, transparent 20px, #7F7F7F 20px), repeating-linear-gradient(180deg, #7F7F7F, #7F7F7F 10px, transparent 10px, transparent 20px, #7F7F7F 20px), repeating-linear-gradient(270deg, #7F7F7F, #7F7F7F 10px, transparent 10px, transparent 20px, #7F7F7F 20px);
	background-size: 0px 100%, 100% 0px, 0px 100% , 100% 1px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
}

.bg-upload {	
	background: linear-gradient(0deg, #FBEADA, #FBEADA),
	linear-gradient(0deg, #7F7F7F, #7F7F7F);
}

.error {
	border: 1px solid $danger !important;
}

.rounded-collapse {
	border-radius: .75rem;
}

.payment-method {
	padding: 1.5rem 2.25rem !important;
	.payment-method-item {
		.form-check-input {
			&:checked {
				background-color: $primary;
				border-color: $primary;		
			}
		}
		.payment-method-card {
			border: 1px solid #A9A9A9;
			height: 115px;
		}
	}
}

.select-payment-method {
	.payment-method-card {
		height: 160px !important;
	}
}

.shadow-blue {
	box-shadow: 0 .5rem 1rem rgba($primary, .15);
}

.bank-info {
	--bs-border-color: #D3D3D3;
}
@media (min-width: 480px) {
	.border-bank {
		background-image: repeating-linear-gradient(0deg, #E7ADAA, #E7ADAA 10px, transparent 10px, transparent 20px, #E7ADAA 20px), repeating-linear-gradient(90deg, #E7ADAA, #E7ADAA 10px, transparent 10px, transparent 20px, #E7ADAA 20px), repeating-linear-gradient(180deg, #E7ADAA, #E7ADAA 10px, transparent 10px, transparent 20px, #E7ADAA 20px), repeating-linear-gradient(270deg, #E7ADAA, #E7ADAA 10px, transparent 10px, transparent 20px, #E7ADAA 20px);
		background-size: 0px 100%, 100% 0px, 1px 100% , 100% 0px;
		background-position: 0 0, 0 0, 100% 0, 0 100%;
		background-repeat: no-repeat;
	}
}

#frm-subscribe {
	.title-subscribe {
		letter-spacing: -1px;
	}
	input {
		&::placeholder {
			color: #A9A9A9;
			font-size: 14px;
			line-height: 20px;
		}
	}
	.btn-subscribe {
		border-color: white !important;
		letter-spacing: 1px;
		&.active, &:active, &:focus, &:hover {
			background-color: $white !important;
			color: $orange !important;
		}
	}

}

.documents {
	.card {
		.card-header {
			letter-spacing: -0.3px;
			.introduce {
				letter-spacing: 1px;
			}
		}
		.card-body {
			padding: 1.875rem 3.25rem;
			.visa-type {
				.card {
					--bs-border-color: #545454;
					.card-body {
						padding: 1.875rem 2.5rem;
					}
					&.check {
						.title {
							border-color: $primary !important;
							.subheading {
								color: $primary-blue-600 !important;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.documents .card-body {
		padding: 1.5rem !important;
	}
}

.graphic-ellipse {
	background-color: $orange;
	border-radius: 50%;
	width: 433.846px;
	height: 433.257px;
	flex-shrink: 0;
}

.review-applicant {
	border: 1px solid #A9A9A9;
}

.card-why-choose-us {
	.card-body {
		padding: 30px 40px;
	}
}

.dropdown-travel-class {
	.dropdown-item {
		padding-top: 0.65rem;
		padding-bottom: 0.65rem;
	}
}

.number-flight {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $primary;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -1px;
}

.flight-selected-detail {
	.img-airline {
		width: 80px;
		height: 24px;
		object-fit: contain;
	}
	.airline-name {
		line-height: 28px;
		letter-spacing: -0.3px;
	}
	.icon {
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.departure, .arrival {
		.code {
			color: #7F7F7F;
			text-align: center;
			font-size: 12px;
			font-weight: 600;
			line-height: 31.5px;
			border-radius: 15px;
			background: #E5E5E5;
			width: 36px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.your-flight {
	.img-airline {
		width: 99px;
		height: 45px;
		object-fit: contain;
	}
	.airline-name {
		line-height: 28px;
		letter-spacing: -0.3px;
	}
	.icon {
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.departure, .arrival {
		.code {
			color: #7F7F7F;
			text-align: center;
			font-size: 12px;
			font-weight: 600;
			line-height: 31.5px;
			border-radius: 15px;
			background: #E5E5E5;
			width: 36px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.flight {
		background-image: repeating-linear-gradient(0deg, #545454, #545454 10px, transparent 10px, transparent 20px, #545454 20px), repeating-linear-gradient(90deg, #545454, #545454 10px, transparent 10px, transparent 20px, #545454 20px), repeating-linear-gradient(180deg, #545454, #545454 10px, transparent 10px, transparent 20px, #545454 20px), repeating-linear-gradient(270deg, #545454, #545454 10px, transparent 10px, transparent 20px, #545454 20px);
		background-size: 0px 100%, 100% 0px, 0px 100% , 100% 1px;
		background-position: 0 0, 0 0, 100% 0, 0 100%;
		background-repeat: no-repeat;
	}
}